# Server Configuration
NODE_ENV=development
PORT=5000

# Database
# MONGODB_URI=mongodb+srv://vpnbenidev:Vipin%406921@cluster0.agz3j.mongodb.net/teerthanker-dental-care-test
MONGODB_URI=mongodb+srv://tabdcdelhi_db_user:QbBvWWmWkdJyM17v@tabdc.pfkwyaz.mongodb.net/teerthanker-dental-care

# JWT Configuration
JWT_SECRET=super-secret-jwt-key-for-development-only-make-it-long-and-complex-at-least-32-characters
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7

# Encryption Configuration
ENCRYPTION_KEY=378d8ba5ab559343e9b57e817a73ec39828e08cf5a5a8ca2fc38cd34899ef84b
   
# Cloudinary Configuration (dummy values for development)
CLOUDINARY_CLOUD_NAME=dyofjxa4s
CLOUDINARY_API_KEY=161749631141926
CLOUDINARY_API_SECRET=Pwh-CUyZHeFpVWXmOZgOXggNfic


# MSG91 Configuration
MSG91_AUTH_KEY=462229AnREqHaZ68d8fa2dP1
   MSG91_SIGNUP_TEMPLATE_ID=68d8d20108c74d5c0f4167b2
   MSG91_LOGIN_TEMPLATE_ID=68d8d1d89d4ce1639a6d1173
   MSG91_BOOKING_CREATED_TO_ADMIN=68e69729194a6f2ff90eee47
   MSG91_BOOKING_CREATED_TO_CLIENT=68e539860c47ee1cf7449778
   MSG91_BOOKING_CONFIRMED_TO_CLIENT=68e539379c9f7a15a9104ca6

   MSG91_SENDER_ID=TABDCL
# Email Configuration (Hostinger)
# EMAIL_FROM_NAME=Teerthanker Adinath Bright Dental Care
# EMAIL_FROM=support@teerthankeraadinathbrightdentalcare.in
# EMAIL_HOST=smtp.hostinger.com
# EMAIL_PORT=465
# EMAIL_USER=support@teerthankeraadinathbrightdentalcare.in
# EMAIL_PASS=Teerthankeraadinathbrightdentalcare@123

# google mail setup
EMAIL_FROM_NAME=Teerthanker Dental Care
EMAIL_FROM=tabdcdelhi@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=tabdcdelhi@gmail.com
EMAIL_PASS=seoz sgyn gooy dmpa
# CORS Origins
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:3001

RAZORPAY_KEY_ID=rzp_live_ROGjVA6zfgIPkv
RAZORPAY_KEY_SECRET=MPKZemPHNRMqP9KsC4pmBhc1
RAZORPAY_WEBHOOK_SECRET=your-webhook-secret-here

# Production URLs
PROD_CLIENT_URL=https://client.teerthankerdentalcare.com
PROD_ADMIN_URL=https://admin.teerthankerdentalcare.com
PROD_API_URL=https://teerthanker-server.vercel.app/api

# Twilio Configuration
TWILIO_ACCOUNT_SID=ACa4aa6ebb2dc88ef327e5f571687baffb
TWILIO_AUTH_TOKEN=6696de5ac7522da687e122f5d51d1c53
TWILIO_PHONE_NUMBER=+12562523705


# ADMIN_PHONE=7351114255
# ADMIN_PHONE_TWO=9899826025
